# Virtual environment
.venv/

# Ignore all model files by default
models/*.pkl.gz
models/*.pkl.xz

# Explicitly include specific model files
!models/Genetic_Disorder_Stacked_Model.pkl.xz
!models/Disorder_Subclass_Stacked_Model.pkl.xz
!models/Combined_Genome_Disorder_Stacked_Model.pkl.xz

# Other common ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env